.guarantee{
  text-align:center;
  padding:12px 14px 8px;
}

.guarantee-main{
  font-size:clamp(38px,4.2vw,70px);
  line-height:.98;
  font-weight:900;
  letter-spacing:-.045em;
  color:var(--white);
}

.guarantee-sub{
  margin-top:7px;

  font-size:clamp(25px,2.6vw,44px);
  line-height:1;
  font-weight:900;
  letter-spacing:.06em;

  color:var(--yellow);
}
